<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vlife.cv.exclusion.XcldsMapper">

    <sql id="xcldsColumns">
        POLICY_NO as policyNo,
        COVERAGE_NO as coverageNo,
        XCLDS_TYPE as xcldsType,
        XCLDS_DATE as xcldsDate,
        REFERENCE_CODE as referenceCode
    </sql>

    <select id="findByPolicyNoAndCoverageNoAndXcldsType"
            resultType="com.vlife.cv.exclusion.Xclds">
        SELECT <include refid="xcldsColumns"/>
        FROM CV.XCLDS
        WHERE POLICY_NO = #{policyNo}
          AND COVERAGE_NO = #{coverageNo}
          AND XCLDS_TYPE = #{xcldsType}
    </select>

    <select id="findByPolicyNo"
            resultType="com.vlife.cv.exclusion.Xclds">
        SELECT <include refid="xcldsColumns"/>
        FROM CV.XCLDS
        WHERE POLICY_NO = #{policyNo}
        ORDER BY COVERAGE_NO, XCLDS_TYPE
    </select>

    <select id="findByPolicyNoAndCoverageNo"
            resultType="com.vlife.cv.exclusion.Xclds">
        SELECT <include refid="xcldsColumns"/>
        FROM CV.XCLDS
        WHERE POLICY_NO = #{policyNo}
          AND COVERAGE_NO = #{coverageNo}
        ORDER BY XCLDS_TYPE
    </select>

    <insert id="insert">
        INSERT INTO CV.XCLDS (
            POLICY_NO, COVERAGE_NO, XCLDS_TYPE,
            XCLDS_DATE, REFERENCE_CODE
        ) VALUES (
            #{policyNo}, #{coverageNo}, #{xcldsType},
            #{xcldsDate}, #{referenceCode}
        )
    </insert>

    <delete id="deleteByPrimaryKey">
        DELETE FROM CV.XCLDS
        WHERE POLICY_NO = #{policyNo}
          AND COVERAGE_NO = #{coverageNo}
          AND XCLDS_TYPE = #{xcldsType}
    </delete>

</mapper>
